<%- include('blocks/head') -%>
<body>
  <div class="wrapper">
    <%- include('blocks/header') -%>
    <div class="main">
      <div class="main__container">
      <h2>Welocome, <%= user.userName %>!</h2>
      <!-- display list -->
       <% if (notes.length === 0) { %>
        <p>No notes yet. <a href="/create-note">Create your first one!</a></p>
        <% } else { %>
          <ul>
            <% notes.forEach(note => { %>
              <li id="<%= note._id %>">
                <h4><%= note.title %></h4>
                <div><%= note.description %></p>
                <button class="editNote btn">Edit</button>
                <button class="deleteNote btn">Delete</button>
              </li> 
              <% }) %>
          </ul>
          <% } %>
        </div>
    </div>
  </div>
</body>