<%- include('blocks/head') -%>
<body>
  <div class="wrapper">
    <%- include('blocks/header') -%>
    <div class="main">
      <div class="main__container">
        <h2><%= user.userName %>'s profile</h2>
       <% if (notes.length === 0) { %>
            <p>No notes yet. <a href="/create-note">Create your first one!</a></p>
            <% } else { %>
              <p>Username: <%= user.userName %></p>
              <p>You have: <%= notes.length %> notes.</p>
                <% } %>
        <button><a href="/change-psw" class="profileBtn">Change password</a></button>
        <button id="delete" class="profileBtn">Delete profile</button>
      </div>
    </div>
  </div>
</body>
